<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fruit Machine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style media="screen">
      body {
        background-color: #DEDEDE;
        padding: 40px;
        text-align: center;
        font-size: 17px;
        font-family: 'helvetica',Arial, fantasy;
        background-size: 1250px;
        background-repeat: no-repeat;
        background-position: top;
      }
    </style>
  </head>
  <body>
    <h1>Press the button to Spin!</h1>
    <form action="/" method="post">
      <button type="submit" class="btn btn-danger"><b>Spin</b></button>
    </form>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-4 thumb">
        <a class="thumbnail" name="spin1" id="spin1">
          <img class="img-responsive" src="<%= @spin.spin1 %>.png" alt="<%= @spin %>">
          <p><%= pp @spin.spin1.inspect %></p>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4 thumb">
        <a class="thumbnail" name="spin2">
          <img class="img-responsive" src="<%= @spin.spin2 %>.png" alt="<%= @spin %>">
          <p><%= pp @spin.spin2.inspect %></p>
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4 thumb">
        <a class="thumbnail" name="spin3">
          <img class="img-responsive" src="<%= @spin.spin3 %>.png" alt="<%= @spin %>">
          <p><%= pp @spin.spin3.inspect %></p>
        </a>
      </div>
    </div>
    <p>Your balance is currently £<%= @balance %></p>
    <div>
      <% if @outcome == :win %>
      <p><b>You WIN!</b></p>
      <% else @outcome == :lose %>
      <p><b>Better luck next time!</b></p>
      <% end %>
    </div>
  </body>
</html>
